<?xml version="1.0" encoding="UTF-8" ?>
<settings xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.1.0 http://maven.apache.org/xsd/settings-1.1.0.xsd" xmlns="http://maven.apache.org/SETTINGS/1.1.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <servers>
    <server>
      <id>nexus-releases</id>
      <username>jenkins</username>
      <password>{9lNO1n1S/NkHGHD+5oD+8Q4szkBrgbGJOWS17/nCXCU=}</password>
    </server>
    <server>
      <id>nexus-snapshots</id>
      <username>jenkins</username>
      <password>{9lNO1n1S/NkHGHD+5oD+8Q4szkBrgbGJOWS17/nCXCU=}</password>
    </server>
  </servers>
  <profiles>
    <profile>
      <id>nexus3</id>
      <repositories>
        <repository>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
          <id>nexus3-public</id>
          <name>group repo including central, release, and snapshot</name>
          <url>http://nexus3.ericzhang-devops.com/repository/maven-public</url>
        </repository>
      </repositories>
      <pluginRepositories>
        <pluginRepository>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
          <id>nexus3-public</id>
          <name>group repo including central, release, and snapshot</name>
          <url>http://nexus3.ericzhang-devops.com/repository/maven-public</url>
        </pluginRepository>
      </pluginRepositories>
    </profile>
  </profiles>
  <activeProfiles>
    <activeProfile>nexus3</activeProfile>
  </activeProfiles>
</settings>